<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/fake-services"
                contextRoot="webapp/fake-services">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/fake-services-admin"
                contextRoot="webapp/fake-services-admin">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/fake-services-app"
                contextRoot="webapp/fake-services-app">
        </webapp>
    </extension>
</plugin>
